/*
 * lay-out
 */

.wrapper {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 5%;
}

.list {
  &__list-item {
    margin-bottom: 70px;
    text-align: center;
  }
}

.basic-section {
  text-align: center;
}

/*
 * components
 */

.header {
  margin-top: 40px;
  text-align: center;
  .logo {
    display: inline-block;
    margin-bottom: 5px;
  }
}

.agenda {
  margin-top: 40px;
  &__location {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 2.4em;
    display: block;
    line-height: 1.2em;
  }
}

.when {
  margin: 0.4em 0 2em;
  line-height: 1.2em;
}

.workshop {
  &__when {
    margin: 0.4em 0 1em;
  }
}

.info {
  text-align: left;
  p {
    font-size: 14px;
    margin-top: 0;
  }
  a {
    text-decoration: underline;
  }
}

.footer {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 100px;
  font-size: 17px;
  line-height: 1.4em;
  font-weight: bold;
}

/*
 * styling
 */
